<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Page not found</title>
        <link rel="stylesheet" href="/static/style/index.css">
        <link rel="stylesheet" href="/static/style/login.css">
        <script src="/static/js/index.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <video autoplay muted loop id="background" class="background">
            <source src="/static/video/background.mp4" type="video/mp4">
        </video>
        <div class="main loginmain">
            <h1>Page not found</h1>
            <div class="main ">
            </div>
        </div>
    </body>
</html>