<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%} {%endblock%}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body>
    <ul>
      <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
    {% if 'username' in session %}
        <li><a href="{{ url_for('bots') }}">Bot List</a></li>
        <li><a href="{{ url_for('uploads_main') }}">Uploads</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
    {% else %}
        <li><a href="{{ url_for('login') }}">Log In</a></li>
        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
    {% endif %}
    </ul><br>

    {% block content %}{% endblock %}
</body>
</html>