{% extends 'base.html' %}

{% block title %}
Bots
{% endblock %}

{% block content %}
<script> $(document).ready(function() { refreshBots(); });</script>
 <!-- Page content -->      
 <div id="main" class="main">
    <div id="bot" class="bot">
        <h1>Bots</h1>
        <img class="whiteicon" src="{{url_for('static', filename='icon/refresh-line.svg') }}" onclick="refreshBots()">
        <br>
        <br>
        <div class="grid-container" id="botcontainer">
            <div class="grid-item">
                <img class="gridicon" src="{{url_for('static', filename='icon/computer-line.svg') }}" onclick="alert(1)">
                <p class="gridlabel">ac50265c-80d2-11ec-b0c7-a0afbdf25806</p>
                <p class="gridlabel">['192.168.1.1']</p>
                <br>
                <p class="gridlabel">1644640428</p>
            </div>
            <div class="grid-item">
                <img class="gridicon" src="{{url_for('static', filename='icon/computer-line.svg') }}" onclick="alert(1)">
                <p class="gridlabel">ac50265c-80d2-11ec-b0c7-a0afbdf25806</p>
                <p class="gridlabel">['192.168.1.1']</p>
                <br>
                <p class="gridlabel">1644640428</p>
            </div>
            <div class="grid-item">
                <img class="gridicon" src="{{url_for('static', filename='icon/computer-line.svg') }}" onclick="alert(1)">
                <p class="gridlabel">ac50265c-80d2-11ec-b0c7-a0afbdf25806</p>
                <p class="gridlabel">['192.168.1.1']</p>
                <br>
                <p class="gridlabel">1644640428</p>
            </div>
        </div>
</div>
{% endblock %}