{% extends 'base.html' %}

{% block title %}
Bots
{% endblock %}

{% block content %}
<script> $(document).ready(function() { refreshBots(); });</script>
 <!-- Page content -->      
 <div id="main" class="main">
    <div id="bot" class="bot">
        <h1>Bots</h1>
        <img class="whiteicon" src="{{url_for('static', filename='icon/refresh-line.svg') }}" onclick="refreshBots()">
        <br>
        <br>
        <div class="grid-container" id="botcontainer">
        </div>
</div>
{% endblock %}