{% extends 'base.html' %}

{% block title %}
Log In
{% endblock %}

{% block content %}
    {% if 'username' in session %}
        <p>You're already logged in, {{ session['username'] }}!</p>
    {% else %}
        <h1>Enter Your Credentials</h1>
        <div class="container">
            <form action="/login" method="POST">
                <div>
                    <input type="text" id="username" name="username" placeholder="Username or email">
                </div>
                <div>
                    <input type=password name=password placeholder="Password">
                </div>
                <div>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}